.footer {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: auto;
}
