.half {
  width: 50%;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  padding-right: 80px;
  color: #ffffff;
}

.content {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  padding-right: 80px;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 900px) {
  .half {
    width: 100%;
  }
  .home {
    flex-direction: column;
  }
  .title {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }
  .content {
    font-size: 1rem;
    text-align: center;
    padding: 0;
  }
}
